.App {
  text-align: center;
}

h1 {
  font-family: Silkscreen;
  font-size: 3em;
  color: red;
  text-align: center;
  margin-top: 1%;
}

h2 {
font-family: Silkscreen;
font-size: 1em;
color: rgb(41, 209, 19);
}

/*Navbar*/

.navbar {
  background-color: rgba(19, 20, 18, 0.507);
  width: 100%;
}

.margins {
  margin-top: 1em;
}

.nav-item {
  font-family: Silkscreen;
  color: red;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.branding-style {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 7em;
  margin-top: -1em;
  margin-left: 0.1%;
}


.tituloysubtitulo {
  display: flex;
  flex-direction: column;
}

.subtitulo {
  margin-top: -12%;
}

.menu {
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-gap: 20px;
  text-align: center;
  list-style-type: none;
  margin-left: 60.5%;
  margin-top: 1.6%;
}

.dropdown--1 {
  width: 5em;
}


.dropdown--2 {
  width: 5em;
}

li a {
  color: red;
  margin-left: -40%;
  justify-content: center;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  background: rgba(6, 186, 218, 0.514);
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul, /* this is the line we add */
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  justify-content: center;
  align-items: center;
  display: block;
}

#carrito {
  margin-left: 25%;
}

h3 {
  font-family: Silkscreen;
  color: rgb(41, 209, 19);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*Item List Container*/


.row--1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

#cambot {
  width: 7em;
  margin-top: -1em;
  margin-left: 0.1%;
}

.container {
  display: inline-block;
  background-color: rgba(19, 17, 17, 0.438);
  border-radius: 25px 25px 25px 25px;
  max-height: 39em; 
  width: 80em;
  margin-top: 1em;
}

.items {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 3fr 3fr;
  row-gap: 15px;
}

.linkitems {
  color: transparent;
}

.loader {
  padding: 18%;
}

.title {
  font-family: Silkscreen;
  font-size: 1.5em;
  color: rgb(41, 209, 19);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.description {
  font-family: Silkscreen;
  color: rgb(41, 209, 19);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.price {
  font-family: Silkscreen;
  color: rgb(223, 13, 188);
  margin-left: 3%;
}

.stock {
  font-family: Silkscreen;
  color: rgb(41, 209, 19);
  margin-left: 3%;
}

h5 {
  font-family: Silkscreen;
  color: rgb(241, 241, 241);
  margin-top: -3%;
}

.width {
  max-width: 10em;
  margin-left: 30% !important;
}


/*Item Detail Container*/

.container-detail {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 17, 17, 0.507);
  border-radius: 25px 25px 25px 25px;
  height: 30em; 
  width: 60em;
  margin-top: 5em;
}

.itemdetail {
  margin-top: 7%;
}

.contador {
  display: inline-block;
  margin-top: -7%;
  margin-left: 5%;
}

.sumaryrestar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.numero {
  margin-top: 8%;
}

.boton {
  border-style: solid;
  display: inline-block;
  padding: 20px;
  background-color: rgb(30, 208, 240);
  border-radius: 50%;
  height: 50px;
  margin: 20px;
}

.boton:hover {
  cursor: pointer;
}

.signo {
  font-size: 15px;
}

.agregar {
  background-color: rgb(233, 30, 240);
  cursor: pointer;
}

.containerfinalpurchase {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 17, 17, 0.507);
  border-radius: 25px 25px 25px 25px;
  height: 30em; 
  width: 60em;
  margin-top: 5em;
}

.robotseller {
  margin-top: -3%;
  width: 25em;
}

.row---2 {
  display: flex;
  flex-direction: row;
}

.cancelar {
  background-color: rgb(240, 30, 30);
  cursor: pointer;
}


.finalizar {
  background-color: rgb(31, 207, 7);
  cursor: pointer;
}

.letras-boton {
  justify-content: center;
  color: white;
  text-shadow: none;
}

/* Carrito */


.container-cart {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 17, 17, 0.507);
  border-radius: 25px 25px 25px 25px;
  height: 30em; 
  width: 60em;
  margin-top: 5em;
}

.table-shop {
  border-top: 1px solid;
  border-bottom: 1px solid;
}


.robotonmars {
  width: 24em;
  border-radius: 25px 25px 25px 25px ;
}


/*Mobile Device Styles*/


@media (max-width: 768px) {
  
  .tituloysubtitulo {
    display: none;
  }

  .logo {
    margin-left: 3%;
  }

  .branding-style {
    margin-top: 1%;
  }

  #carrito {
    margin-top: -3%;
    margin-left: -15%;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 1%;
  }

  .dropdown--1 {
    margin-left: -35%;
  }

  .dropdown--2 {
    margin-left: -1%;
  }

  .items {
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 14px;
  }
  
  #cambot {
    height: 6em;
  }

  .container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 17, 17, 0.247);
    border-radius: 25px 25px 25px 25px;
    width: 100%;
    height: 100%;
  }
  
  .containerdetail {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 17, 17, 0.507);
    border-radius: 25px 25px 25px 25px;
    height: 100%; 
    width: 100%;
    margin-top: 2em;
  }

  .boton {
    padding: 20px;
  }
  .letras-boton {
    margin-top: 9%;
  }

  .containerfinalpurchase {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 17, 17, 0.507);
    border-radius: 25px 25px 25px 25px;
    height: 100%; 
    width: 100%;
    margin-top: 5em;
  }
  
  .robotseller {
    margin-top: -3%;
    width: 25em;
  }
  

  .cancelar {
    background-color: rgb(240, 30, 30);
    width: 14em;
    margin-right: 0%;
    cursor: pointer;
  }
  
  .finalizar {
    background-color: rgb(31, 207, 7);
    width: 14em;
    margin-left: 0%;
    cursor: pointer;
  }
  

}


















