@font-face {
  font-family: 'Silkscreen';
  src: url(./fonts/slkscr.ttf);
}

body {
  background-image: url(./img/wallpaper.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-family: Silkscreen;
  font-size: 3em;
  color: red;
  text-align: center;
  margin-top: 1%;
}

h2 {
font-family: Silkscreen;
font-size: 1em;
color: rgb(41, 209, 19);
}

h3 {
  font-family: Silkscreen;
  color: rgb(41, 209, 19);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4 {
  font-family: Silkscreen;
  color: rgb(223, 13, 188);
}

h5 {
  font-family: Silkscreen;
  color: rgb(241, 241, 241);
  margin-top: -3%;
}

@media (max-width: 768px) {
  
  body {
    background-image: url(./img/wallpaperphone.gif);
    background-repeat: repeat;
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
  }
  
  h3 {
    font-size: 14px;
  }
  
}
